.banner{
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(#000, 0));
  }
}

::v-deep .layout-content .container{
  max-width: initial;
}

.movie-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 65% !important;
  margin: -200px auto 64px auto;
  position: relative;
  z-index: 5;

  &__poster {
    width: 360px;

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      padding-top: 165%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__info{
    width: 70%;
    padding-left: 2rem;
    position: relative;

    .title {
      font-size: 4.5rem;
      line-height: 1.25;
      font-weight: 600;
    }

    .btn-action{
      @apply my-8;
    }

    .cate {
      @apply my-8;

      &__item {
        margin-right: 16px;
        padding: 0.5rem 1.5rem;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: #0f0f0f;

        &:hover{
          cursor: pointer;
          background-color: #FFFFFF;
          color: #0f0f0f;
        }
      }
    }
  }
}

::v-deep .ant-btn {
  &.primary-2:hover{
    box-shadow: 0px 0px 7px 9px #ff00004d;
  }
}

.movie-footer-detail{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}
