$primary: #ee0033;
$secondary: #06af13;

$red-50: #fee6eb;
$red-600: #db002f;

$gray-100: #f7f7f7;
$gray-200: #f2f2f2;
$gray-300: #dbdbdb;
$gray-400: #b5b4b4;
$gray-600: #6e7173;
$gray-800: #26292b;

$blue-500: #287fce;

$yellow-500: #ffc200;

$yellownew-500: #FFFAE6;

$green-500: #09c168;

$green-50: #E3FCEF;

$bluenew-500: #DEEBFF;

$orange-500: #fe9545;

$blue-50: #DEEBFF;

$yellow-500: #ffc200;

$green-500: #09c168;

$orange-500: #fe9545;

$black-500: #2b2626;

$black-body: #0f0f0f;
