@import 'vars/colors';
@import "vars/font";
@import "vars/variable";

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  scroll-behavior: smooth;
  color: $white-primary;
}

.app {
  background-color: $black-body;
  min-height: 100vh;
  font-family: $font-family;
}

// Css for whole layout
.layout-container {
  background-color: $black-body;
  color: $white-primary;
}

// Header css
.ant-layout-header {
  &.header {
    @apply p-5 h-[70px];
    background: none;
    z-index: 999;
    transition: height 0.3s ease, background-color 0.3s ease;
  }

  .header {
    &--container {
      @apply block items-center px-6 py-4 justify-between;
      border-radius: 12px;
    }
  }
}

// Custom ant-results
.ant-result-title,
.ant-result-subtitle {
  color: $white-primary;
}

// Custom ant button
::v-deep .ant-btn {
  @apply px-[16px] pt-[1px];

  &.primary-2{
    background-color: $red-primary;
    color: $white-primary;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      background-color: $red-ternary;
      color: $white-primary;
      border: 1px solid transparent;
    }
  }

  &.outline-2{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-shadow: unset;

    &:hover{
      background-color: $gray-primary;
      color: $black-primary !important;
      border: none;
      box-shadow: 0px 0px 7px 9px #5050504d;
    }
  }

}

// Custom ant tabs
.ant-tabs {
  .ant-tabs-ink-bar {
    background-color: $red-primary;
  }

  .ant-tabs-nav {
    @apply p-1;

    .ant-tabs-tab {
      margin: 0;
      color: $white-primary;
      font-size: 1.25rem; /* 20px */
      line-height: 1.75rem; /* 28px */
      font-weight: 600;
      min-width: 130px;
      text-align: center;
      padding: 6px 12px;

      &:hover {
        opacity: .8;
      }
    }

    .ant-tabs-tab-active {
      color: $white-primary;
    }

  }

  .ant-tabs-bar {
    border: none;
  }
}

//Custome ant spin
.ant-spin-dot-item{
  background-color: $red-primary;
}
.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot{
  top: 100%;
}

.layout-content {
  @apply m-16;
  & .container {
    max-width: 100% !important;
  }
}

// Custom swiper
.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-white font-black;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-white font-black;
  }
}

// Button search css
.nav-search {
  & .ant-input {
    border-radius: 8px;
    padding-top: 2px;
    border: none;
    color: $white-primary;
    height: 40px;
    padding-left: 16px !important;

    &::placeholder {
      color: #A0A3BD;
    }

    &:focus {
      border-radius: 100px;
      border: 1px solid $white-primary !important;
      background: $white-primary !important;
      color: black;
    }

    &:focus::-webkit-input-placeholder {
      color: black;
    }
  }

  & .ant-input-prefix {
    color: $white-primary;
    font-weight: bold;
    font-size: 14px;
  }
}

.search {
  .ant-select-selection {
    background: #EFF0F7;
    border-radius: 100px;
  }
}

.ant-select-auto-complete.ant-select-lg .ant-input {
  padding-top: 6px;
  padding-bottom: 10px;
}

// Footer css
.footer {
  @apply flex gap-6;
  position: relative;
  background-color: $black-body;
  justify-content: center;
  align-items: center;
  color: $white-primary;
  background-image: url("~/assets/images/footer-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 2rem;

  &__content {
    max-width: 1000px;

    &__logo {
      margin-bottom: 3rem;
    }

    &__menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

    }

    &__menu {
      @apply flex justify-center items-center;
      flex-direction: column;
      margin-top: 1rem;

      font-size: 1.5rem;
      font-weight: 500;

      & > * ~ * {
        margin-top: 1rem;
      }
    }
  }
}



