@import 'vars/colors';
@import "vars/font";
@import url('https://fonts.googleapis.com/css?family=Bebas Neue:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  scroll-behavior: smooth;
}

.app {
  background-color: gray;
  min-height: 100vh;
  color: white;
  font-family: $font-family;
}

// Css for whole layout
.layout-container{
  color: white;
  background-color: $black-body;
  color: white;
}

// Header css
.ant-layout-header {
  &.header {
    @apply p-5 h-24;
    background: none;
    z-index: 999;
    transition: height 0.3s ease, background-color 0.3s ease;
  }

  .header {
    &--container {
      @apply block items-center px-6 py-4 justify-between;
      border-radius: 12px;
    }
  }
}

// Custom ant-results
.ant-result-title,
.ant-result-subtitle {
  color: white;
}

// Custom ant button
.ant-btn,
.ant-btn-primary{
  background-color: #1890ff;
  padding: 0 16px;
}
// Custom ant tabs
.ant-tabs {
  .ant-tabs-ink-bar{
    background-color: $primary;
  }
  .ant-tabs-nav {
    @apply p-1;

    .ant-tabs-tab {
      margin: 0;
      color: white;
      font-size: 1.25rem; /* 20px */
      line-height: 1.75rem; /* 28px */
      font-weight: 600;
      min-width: 130px;
      text-align: center;
      padding: 6px 12px;
    }

    .ant-tabs-tab-active {
      color: white;
      &.ant-tabs-tab {
      }
    }
  }
  .ant-tabs-bar {
    border: none;
  }
}

.layout-content {
  @apply m-16;
  & .container {
    max-width: 100% !important;
  }
}

// Custom swiper
.swiper{
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-white font-black;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet{
    @apply bg-white font-black;
  }
}

// Button search css
.nav-search {
  & .ant-input {
    border-radius: 8px;
    padding-top: 2px;
    border: none;
    color: white;
    height: 40px;
    padding-left: 16px !important;

    &::placeholder {
      color: #A0A3BD;
    }

    &:focus {
      border-radius: 100px;
      border: 1px solid white !important;
      background: white !important;
      color: black;
    }
    &:focus::-webkit-input-placeholder {
      color: black;
    }
  }
  & .ant-input-prefix {
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
}

.search {
  .ant-select-selection {
    background: #EFF0F7;
    border-radius: 100px;
  }
}
.ant-select-auto-complete.ant-select-lg .ant-input {
  padding-top: 6px;
  padding-bottom: 10px;
}

// Footer css
.footer {
  @apply flex gap-6;
  position: relative;
  background-color: $black-body;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("~/assets/images/footer-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 2rem;

  &__content {
    max-width: 1000px;

    &__logo {
      margin-bottom: 3rem;
    }

    &__menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

    }

    &__menu {
      @apply flex justify-center items-center;
      flex-direction: column;
      margin-top: 1rem;

      font-size: 1.5rem;
      font-weight: 600;

      & > * ~ * {
        margin-top: 1rem;
      }
    }
  }
}



